<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Harbor International LLC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="assets/css/main.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  </head>

  <body>
    <div class="body-container">
      <header role="header" class="header-container">
        <ul class="nav-bar">
          <li class="home nav-bar-item"><a href="index.html">HOME</a></li>
          <li class="about nav-bar-item">
            <a href="who_we_are.html">WHO WE ARE</a>
          </li>
          <li class="images nav-bar-item">
            <a href="images.html">SERVICES</a>
          </li>
          <li class="contact nav-bar-item">
            <a href="contact.html">CONTACT</a>
          </li>
          <li class="locations nav-bar-item">
            <a href="testimonials.html">TESTIMONIALS</a>
          </li>
          <li class="locations nav-bar-item">
            <a href="testimonials.html">LOG IN</a>
          </li>
        </ul>
      </header>

      <section class="welcome-title">
        <div id="welcome-container">
          <p>WELCOME</p>
          <p>TO</p>
          <p>HARBOR INTERNATIONAL LLC</p>
        </div>
      </section>
      <section class="enter">
        <p href="who_we_are.html" id="enter-container">
          SIGN UP &#8594;
          <a></a>
        </p>
        <div id="enter-door"></div>
      </section>
      <footer class="index">
        <p>Some Text</p>
      </footer>
    </div>
    <script src="assets/js/main.js"></script>
  </body>
</html>
